---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import TagLink from "../../components/TagLink.astro";
import Catalog from "../../components/Catalog.tsx";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const { data, render } = Astro.props ;
const { Content } = await render();
---

<BlogPost {...data}>
  <div class="content">
    <div class="content-header">
      <p>作者: {data.author}</p>
      <TagLink tags={data.tags ? data.tags : []} />
    </div>
    <Content/>
  </div>
  <Catalog client:only="react"/>
</BlogPost>
<style is:inline>
  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .content-header p {
    white-space: nowrap;
  }
  .content hr{
      margin: 10px 0;
  }
</style>
../../components/Catalog../../components/Catalog.tsx